ale-py==0.7.3
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
certifi==2023.7.22
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.0.0
gym==0.21.0
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
numpy==1.21.5
requests==2.26.0
tqdm==4.62.3
typing-extensions==4.0.1
urllib3==1.26.7
zipp==3.7.0
